/* src/components/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f2ef;
}

.login-box {
    background: black;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

.login-box p {
    margin-bottom: 20px;
    color: grey;
    font-size: 14px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background: lightgrey;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    color: #0073b1;
    margin-bottom: 20px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #B11B26;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: darkred;
}

.or-section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or-section span {
    color: #737373;
    font-size: 14px;
    padding: 0 10px;
}

.or-section::before,
.or-section::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #ddd;
}

.apple-login-btn {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.join-now {
    font-size: 14px;
}

.join-now a {
    color: #0073b1;
    text-decoration: none;
}

.join-now a:hover {
    text-decoration: underline;
}

.confirmation-message {
    color: green;
    font-size: 14px;
    margin-bottom: 15px;
}
/* Ajoutez dans Login.css et Register.css */
.login-logo, .register-logo {
    width: 150px;
    margin-bottom: 10px;
}