/* StatCard.css */

.stat-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 160px; /* Assurez-vous que la largeur de chaque carte est fixée */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.stat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-card-icon {
    font-size: 28px;
    margin-bottom: 10px;
    color: #4a90e2;
}

.stat-card-value {
    font-size: 24px;
    font-weight: bold;
    color: #00A0DC;
    margin: 5px 0;
}

.stat-card-label {
    font-size: 14px;
    color: #666;
}

.stat-box {
    display: flex;
    justify-content: space-between; /* Espacement entre les cartes */
    gap: 10px;
    flex-wrap: nowrap; /* Empêche le retour à la ligne */
    padding: 10px 0;
    overflow-x: auto; /* Ajoute un défilement horizontal si nécessaire */
}

/* Section pour le graphique */
.progress-chart {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.progress-chart h4 {
    margin-bottom: 15px;
    color: #333;
}
